/*持ち物用CSS*/
/* File: src/inventory.css */
body {
  background-color: black;
}

#inventory {
  display: none;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 300px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border: 2px solid white;
  z-index: 10;
}